* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* alignments */

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.contents-wrapper > * {
    padding: 0 10%;
}

section.information,
section.quote {
    padding: 0 20%;
}

header {
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

header .header-logo-text {
    font-size: 24px;

    flex: 1 1 auto;
}

header .header-link {
    font-size: 18px;

    flex: 0 1 auto;
}

section.hero {
    height: 30rem;

    display: flex;
    align-items: center;
    align-content: space-between;
}

.hero-left {
    flex: 4;
    padding-right: 4rem;

    display: flex;
    flex-wrap: wrap;
}

.hero div.container-hero-img {
    flex: 1;

    margin-left: auto;
}

.hero-subheading {
    margin-bottom: 1rem;
}

.hero-img {
    max-width: 500px;
    border-radius: 8px;
}

section.information {
    height: 40rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-grid {
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card-image {
    width: 15rem;
    height: auto;
    margin-bottom: 2rem;
}

.card-subtext {
    text-align: center;
}

section.quote {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    margin-bottom: 1rem;
}

.quote-author {
    align-self: flex-end;
}

section.cta {
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cta {
    background-color: #3882F6;
    width: 80em;
    height: 10em;


    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

    border-radius: 12px;
}

.cta-text {
    color: white;
}

footer {
    height: 5rem;
}

/* aesthetics */

header,
section.hero,
footer {
    background-color: #1F2937;
    color: white;
}

section.quote {
    background-color: #E5E7EB;
}

.hero-left .hero-heading {
    font-size: 48px;
    font-weight: 800;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.sign-up {
    background-color: #3882F6;
    color: white;
    padding: 0.5em 1.25em;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.container-cta button {
    border: white solid 2px;
    padding: 0.5em 4em;
}