* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header,
section.hero,
footer {
    background-color: #1F2937;
}

section.quote {
    background-color: #E5E7EB;
}