* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .header-logo-text,
.information h1 {
    font-family: monospace, Courier, 'Courier New';
}

/* alignments */

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.contents-wrapper > * {
    padding: 0 10%;
}

section.information,
section.quote {
    padding: 0 20%;
}

header {
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2em;
}

header .header-logo-text {
    font-size: 30px;
    flex: 1 1 auto;
}

header .header-link {
    font-size: 18px;

    flex: 0 1 auto;
}

section.hero {
    height: 30rem;

    display: flex;
    align-items: center;
    align-content: space-between;
}

.hero-left {
    flex: 4;

    display: flex;
    flex-wrap: wrap;
}

.hero div.container-hero-img {
    flex: 1;
    padding-left: 4rem;

    margin-left: auto;
}

.hero-subheading {
    margin-bottom: 1rem;
}

.hero-img {
    max-width: 500px;
    min-width: 500px;
    border-radius: 8px;
}

section.information {
    height: 40rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-grid {
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card-image {
    max-width: 15rem;
    margin-bottom: 2rem;
}

.card-subtext {
    text-align: center;
    font-style: italic;
}

section.quote {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    margin-bottom: 1rem;
}

.quote-author {
    align-self: flex-end;
}

section.cta {
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cta {
    background-color: #2344F3;
    width: 80em;
    height: 10em;


    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

    border-radius: 12px;
}

.cta-text {
    color: whitesmoke;
}

footer {
    height: 5rem;
    background-color: #000F17;
    color: white;
}

/* aesthetics */

header {
    background-color: whitesmoke;
    color: black;
}

section.hero {
    background-image: url(./img/hero-wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

section.quote {
    background-color: #000F17;
    color: white;
}

.hero-heading {
    font-size: 44px;
    font-weight: 800;
}

.hero-heading,
.hero-subheading {
    color: whitesmoke;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button.sign-up {
    background-color: #2344F3;
    color: whitesmoke;
    padding: 0.5em 1.25em;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.container-cta button {
    border: whitesmoke solid 2px;
    padding: 0.5em 4em;
}

.hero-left {
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 2.55rem;
    border-radius: 12px;
}