* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* alignments */

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.contents-wrapper > * {
    padding: 0 10%;
}

header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

header .header-logo-text {
    font-size: 24px;

    flex: 1 1 auto;
}

header .header-link {
    font-size: 18px;

    flex: 0 1 auto;
}

section.hero {
    height: 25vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    flex: 1 1 0%;
}

.hero-img {
    max-width: 25%;
    margin-right: auto;
}

/* aesthetics */

header,
section.hero,
footer {
    background-color: #1F2937;
    color: white;
}

section.quote {
    background-color: #E5E7EB;
}

.hero-left .hero-heading {
    font-size: 48px;
    font-weight: 800;
}